@model IEnumerable<MaerskAssignment.Models.Ship>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalContainers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShipName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalContainers)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShipID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShipID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShipID })
        </td>
    </tr>
}

</table>
