<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SEA OOI YIH WOEI CMS </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Maersk CMS Ooi Yih Woei", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Container Index", "Index", "Containers")</li>
                    <li>@Html.ActionLink("Bookings Index", "Index", "Bookings")</li>
                    <li>@Html.ActionLink("Ships Index", "Index", "Ships")</li>
                    <li>@Html.ActionLink("Shipyards Index", "Index", "Shipyards")</li>
                    
                </ul>

                <ul style="list-style: none; display :block; margin-top: 9px"  >
                    <li> Hello ooiyihwoei95@hotmail.com    ||  Sign out </li>
                    



              
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Maersk CMS by Ooi Yih Woei </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
